.head {
    font-size: xx-large;

    font-weight: bold;
    margin: 18px 0px;
    /* border:1px solid green; */
    text-align: center;
    color: rgb(8, 116, 13);
  }
  
  .label {
    margin-top: 10px;
    /* border:1px solid green; */
    /* margin-left: 2% ; */
    font-size: medium;
    color: rgb(8, 116, 13);
  }
  .mainbox{
    padding-left: 2%;
}