.sidebar {
    margin-top: 25px;
    width: 198px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1);
  }
  
  .icon {
    font-size: 25px;
  }
  
  .link {
    width: 170px;
    margin: 7px;
  }
  
  .but {
    text-align: left;
  }